<p id="notice"><%= notice %></p>

<p>
  <strong>Question field:</strong>
  <%= @question.question_field %>
</p>

<p>
  <strong>Question answer:</strong>
  <%= @question.question_answer %>
</p>

<p>
  <strong>Player answer:</strong>
  <%= @question.player_answer %>
</p>

<p>
  <strong>Game:</strong>
  <%= @question.game_id %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
